<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FoodGram</title>
    <link rel="stylesheet" type="text/css" th:href="@{/DarkTheme.css}"/>
</head>
<body>
<th:block th:include="profileMenu"></th:block>
<div class="form-container" xmlns:th="http://www.thymeleaf.org">
    <form th:object="${post}" method="POST">
        <table>
            <tbody>
            <td>
                <table>
                    <tbody>
                    <tr>
                            <input type="file" th:field="${post.image}"/><br/><br/><br/>

                            <label>Location</label><br/><br/>
                            <input type="text" th:field="${post.location}"  style="width: 200px; height: 50px"/><br/><br/><br/>

                            <label>Hash Tags</label><br/><br/>
                            <input type="text" th:field="${post.hashtags}"  style="width: 200px; height: 200px"/><br/><br/><br/>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table>
                    <tbody>
                    <tr>
                            <label>Ingredients</label><br/>
                            <input type="text" th:field="${description.ingredients}" style="width: 400px; height: 100px"/><br/>

                            <label>Directions</label><br/>
                            <input type="text" th:field="${description.directions}"  style="width: 400px; height: 100px"/><br/>

                            <label>Footnotes</label><br/>
                            <input type="text" th:field="${description.footnotes}"  style="width: 400px; height: 100px"/><br/>

                            <label>Nutritional Facts</label><br/>
                            <input type="text" th:field="${description.nutritionalFacts}"  style="width: 400px; height: 100px"/><br/>

                            <input type="submit" value="Share"/>
                    </tr>
                    </tbody>
                </table>
            </td>
            </tbody>
        </table>
    </form>
</div>
</body>