<div class="menu-container" xmlns:th="http://www.thymeleaf.org">
    <a th:href="@{/profile/recentPost}">
        <img src="https://images.vexels.com/media/users/3/147094/isolated/preview/055a10de0c31e98eef1451f742c32345-instagram-home-icon-by-vexels.png" style="width: 80px; height: 80px">
    </a>&nbsp;
    <a th:href="@{/profile/searchPost}">
        <img src="https://images.vexels.com/media/users/3/147105/isolated/lists/5c38be8d63c0ae0ad034417daaef3bcb-instagram-search-icon.png" style="width: 80px; height: 80px">
    </a>&nbsp;
    <a th:href="@{/profile/newPost}">
        <img src="https://images.vexels.com/media/users/3/147099/isolated/preview/ffd2e8aeb1f35bcf5196d56580bc6ad1-icono-de-foto-de-instagram-by-vexels.png" style="width: 80px; height: 80px">
    </a>&nbsp;
    <a th:href="@{/profile/personalProfile}">
        <img src="https://images.vexels.com/media/users/3/147102/isolated/preview/082213cb0f9eabb7e6715f59ef7d322a-icono-de-perfil-de-instagram-by-vexels.png" style="width: 80px; height: 80px">
    </a>&nbsp;
    <a th:href="@{/profile/messages}">
        <img src="https://images.vexels.com/media/users/3/147084/isolated/preview/9722f60b799c49612d9325786a69555c-icono-de-burbuja-de-chat-de-instagram-by-vexels.png" style="width: 80px; height: 80px">
    </a>&nbsp;
    <a th:href="@{/}">
        <img src="https://sitejerk.com/images/login-buttons-png-3.png" style="width: 90px; height: 90px">
    </a>&nbsp;
</div>