<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FoodGram</title>
    <link rel="stylesheet" type="text/css" th:href="@{/DarkTheme.css}"/>
</head>
<body>
<th:block th:include="profileMenu"></th:block>
<div class="form-container" xmlns:th="http://www.thymeleaf.org">
    <form th:object="${profile}" method="POST">
        <input th:type="text" th:field="${profile.profileName}" style="width: 400px"/>
        <input th:type="submit" name="action" value="Search"/><br/>
        <hr/>

        <table>
            <tbody>
            <tr>
                <td>
                    <input th:type="hidden" th:field="${profile.profileId}" readonly/>
                    <img th:src="${profile.image}" width="30" height="30"/>
                    <h4><label th:text="${profile.profileName}"></label></h4>
                    <input th:type="submit" name="action" value="Follow"/>
                </td>
            </tr>
            </tbody>
        </table>

        <table>
            <tbody>
            <tr th:each="post : ${postList}">
                <td>
                    <img th:src="${ post.getProfile().getImage()}" width="30" height="30"/>
                    <h4><label th:text="${ post.getProfile().getProfileName()}"/></h4><br/>
                    <h4><label th:text="${ post.getLocation()}"/></h4>
                    <img th:src="${post.getImage()}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>