<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FoodGram</title>
    <link rel="stylesheet" type="text/css" th:href="@{/DarkTheme.css}"/>
</head>
<body>
<th:block th:include="profileMenu"></th:block>
<div class="form-container" xmlns:th="http://www.thymeleaf.org">
    <form th:object="${profile}" method="POST">
        <h4><label th:text="${ profile.getProfileName()}"/></h4>
        <hr/>

        <table>
            <tbody>
            <tr>
                <td>
                    <img th:src="${profile.getImage()}" width="50" height="50"/>
                </td>
                <td>
                    <h4><label th:text="Posts"/></h4>
                    <h4><label th:text="${postNumber}"/></h4>
                </td>
                <td>
                    <h4><label th:text="Followers"/></h4>
                    <h4><label th:text="${followerNumber}"/></h4>
                </td>
                <td>
                    <h4><label th:text="Following"/></h4>
                    <h4><label th:text="${followedNumber}"/></h4>
                </td>
            </tr>
            </tbody>
        </table>

        <input type="submit" name="action" value="Edit Profile"/>

        <hr/>

        <table>
            <tbody>
            <tr th:each="post : ${postList}">
                <td>
                    <img th:src="${ post.getProfile().getImage()}" width="30" height="30"/>
                    <h4><label th:text="${ post.getProfile().getProfileName()}"/></h4>
                    <h4><label th:text="${ post.getLocation()}"/></h4>
                    <img th:src="${post.getImage()}" width="60%" height="60%"/>
                    <img src="https://www.linkfluence.com/hubfs/Instafood-e1516962966798-900x720-cropped.jpg" width="60%" height="60%"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>